/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ======font family=========
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
:root{
  --white:#fff;
  --gray:#919199;
  --bg:#07071D;
  --green:#55E39D;
  --pink:#CD2EA3;
  --gbg:linear-gradient(304.94deg, #D12EA2 19.75%, #552EAF 81.35%);
}


body {
  font-family: 'Poppins', sans-serif; 
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-size: 18px;
  color: var(--gray);
  margin: 0;
  padding: 0;
  background: var(--bg);
}

  
button {
  cursor: pointer; 
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  margin-top: 0px; 
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

.pb_150{padding-bottom: 150px;}
.pb_100{padding-bottom: 100px;}
.pb_50{padding-bottom: 50px;}
.pt_150{padding-top: 150px;}
.pt_100{padding-top: 100px;}
.pt_50{padding-top: 50px;}

.mb_150{margin-bottom: 150px;}
.mb_100{margin-bottom: 100px;}
.mb_50{margin-bottom: 50px;}
.mt_150{margin-top: 150px;}
.mt_100{margin-top: 100px;}
.mt_50{margin-top: 50px;}
img,svg{
  max-width: 100%;
}
.thm_btn{}
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}
a.btn,button.btn,.btn {
  padding: 15px 23px;
  background: var(--gbg);
  border-radius: 100px;
  border: none;
  color: var(--white);
}

a.btn:hover, button.btn:hover, .btn:hover {
  color: var(--white);
}
.container{
  max-width: 1320px;
}


/* default-css END 
================================== */
 

.header-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-left > a {
  display: block;
  max-width: 75px;
}

.header-left ul {
  display: flex;
  align-items: center;
}

.header-left ul a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: .3s;
  background: #0F0F24;
  border: 2px solid #212143;
}

.header-area ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-area ul.menu a {
  color: var(--white);
  margin: 0 20px;
}
.header-area ul.menu li:first-child a{
  margin-left: 0;
}
.header-area ul.menu li:last-child a{
  margin-right: 0;
}
.header-area ul.menu a.active{
  color: var(--pink);
}

/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  color: var(--white);
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  color: var(--white);
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 32px;
  color: rgb(255, 0, 43);
}

/* Header section END */


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/